@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;900&family=Noto+Serif+KR:wght@400;900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-sans: "Noto Sans KR", sans-serif;
  --font-noto-serif: "Noto Serif KR", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-noto-serif);
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  text-align: left;
  overflow-x: hidden;
  line-height: 1;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  background: var(--background);
}

a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
}

a:hover {
  color: #555;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Noto Serif KR', serif;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
h1, .h1 {
  font-size: 1.75rem;
}
h2, .h2 {
  font-size: 1.5rem;
}
h3, .h3 {
  font-size: 1.25rem;
}
h4, .h4 {
  font-size: 1rem;
}
h5, .h5 {
  font-size: 0.875rem;
}
h6, .h6 {
  font-size: 0.75rem;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ccc;
}

/*----------------------------------
  link
------------------------------------*/
a.light {
  color: #fff;
  text-decoration: none;
}

a.light:hover {
  color: #999;
  text-decoration: none;
}

/*----------------------------------
  Buttons
------------------------------------*/
.btn {
  font-size: 0.95rem;
  position: relative;
  text-align: center;
  border-radius: 4px;
  padding: 12px 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline: none;
}

/* color */
.btn_icon01 {
  color: #f0105a;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-left: 2.5rem;
}
@media (max-width: 425px) {
  .btn_icon01 {
    margin: 0;
  }
  .maintext-wrap div {
    text-align: center;
  }
}

.btn_main {
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  padding: 12px 32px;
}
.btn_white {
  color: #fff  !important;
  border: rgba(255, 255, 255, 1) solid 2px;
  background-color: rgba(255, 255, 255, 0);
}

.btn_white:hover {
  color: #aac1c6 !important;
  background-color: rgba(255, 255, 255, 1);
}

.btn_black {
  color: #333  !important;
  border: #333 solid 2px;
  background-color: rgba(0, 0, 0, 0);
}

.btn_black:hover {
  color: #aac1c6 !important;
  background-color: rgba(0, 0, 0, 1);
}


/*----------------------------------
  css
------------------------------------*/

/* ---------- MAIN ----------- */

.main-section {
  background-attachment: fixed;
  -webkit-backface-visibility: inherit;
  position: relative;
  margin: 0;
  padding: 0;
  height: 115vh;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: borde-box;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%; /*20200708추가*/
  min-width: 100%; /*20200708추가*/
}
@media (max-width: 480px) {
  .main-section {
    background-attachment: scroll;
  }
}

/*20200702수정*/
.main-bg04 .txt {
  color: #000;
}
/*20200702수정*/
.main-bg03 .txt {
  color: #000;
  text-align: center;
}
/*20200702수정*/
.main-section h2,
.contact h2 {
  font-size: 2rem;
  font-weight: 900;
}
.main-section p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 2rem 0;
  letter-spacing: -0.5px;
}
@media (max-width: 1024px) {
  .main-section p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    padding: 1.5rem 0;
  }
}

.agapao-infowrap {
  background: #556d89; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #556d89, #2a2e33); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #556d89, #2a2e33); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #556d89, #2a2e33); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #556d89, #2a2e33); /* Standard syntax */
  padding: 80px 0;
  text-align: left;
  color: #fff;
}
.agapao-infowrap.worship {                                                                              /*20200702수정*/
  background: #ae9991; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ae9991, #2e2220); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ae9991, #2e2220); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ae9991, #2e2220); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ae9991, #2e2220); /* Standard syntax */
  text-align: center;
}
.agapao-infowrap h1 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2.4rem;
  padding-bottom: 1.5rem;
}
.agapao-infowrap h2 {
  font-size: 1.2rem;
  padding: 1rem 0;
  line-height: 1.6rem;
}
.agapao-infowrap p {
  color: #e9e9e9;
  line-height: 1.8rem;
  padding: 1rem 0 3rem;
  margin: 0;
}

@media (max-width: 1024px) {
  .agapao-infowrap h1 {
    font-size: 1.4rem;
    padding-bottom: 2.8rem;
  }
  .agapao-infowrap h2 {
    font-size: 1.2rem;
  }
  .circle {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 767px) {
  .agapao-infowrap {
    padding: 50px 0;
  }
  .agapao-infowrap p {
    padding: 1rem 0;
  }
}
@media (max-width: 480px) {
  .agapao-infowrap h1 {
    font-size: 1.2rem;
    margin: 0 1rem;
  }
}

.section-main {
  background-image: url(/assets/img/maintop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 100;
}
/* 백그라운드 브라우저호환관련 수정 : 20200624 */
.main-bg01 {
  background-image: url(/assets/img/main-agapao.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-ie-background-size: cover;
}

.main-bg02 {
  background-image: url(/assets/img/main-worship.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-ie-background-size: cover;
}
.main-bg03 {
  background-image: url(/assets/img/main-media.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-ie-background-size: cover;
}
.main-bg04 {
  background-image: url(/assets/img/main-sharing.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-ie-background-size: cover;
}